#to-do-form input{
  background-color: rgba(27, 112, 137, 1);
  border: 0;
  color: #fff;
  height: 50px;
  margin: 20px 10px 0 0px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 5px;
  font-family: 'Merriweather', serif;
}
#to-do-form input::placeholder{
  color: rgba(255,255,255,0.5);
}
#to-do-form input:focus{
  outline: none;
}
#to-do-form button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color:rgba(202, 156, 24, 1);
  cursor: pointer;
  font-family: 'Merriweather', serif;
}
#to-do-form button:focus{
  outline: none;
}

.list {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.list button {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

@media screen and (min-width:1024px){
  #to-do-form input{
    width: 200px;
  }
}


@media screen and (min-width:768px) and (max-width:1023px){
  #to-do-form input{
    width: 200px;
  }
}

@media screen and (max-width:767px){
  #to-do-form {
    display: inline;
    margin: 5px;
  }

  #to-do-form button{
    margin: 5px 0;
  }
}
